/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffeef7;
}

::-webkit-scrollbar-thumb {
    background: #E70159;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c2004b;
}